.Iniciar {
    width: 300px;
    height: 100px;
    color: white;
    background-color: #1784e3;
    border-radius: 20px;
    border: 2px solid #fff;
    text-align: center;

    display: flex;
    align-items: center;        
    justify-content: center; 
    
    cursor: pointer;
}

.Botoes {
    display: flex;
    margin-top: 100px;
    justify-content: center;
}